 
 
 

 
 

.cropped-area {
  border: 1px solid black;
  position: absolute;
  width: 100px;
  height: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
 
 
  touch-action: none;
 
}

.resizer {
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: #0097df;
  cursor: nwse-resize;
  touch-action: none;
}